@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter', sans-serif !important;
    font-feature-settings: "case"1, "cpsp"1, "frac"1, "tnum"1, "ss03"1;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif !important;
    }
}

i.ti {
    font-family: "tabler-icons";
}